
.container {
    width: 45%;
    display: flexbox;
    justify-content: center;
    z-index: -1;
}

img {
    position: relative;
    top: 60px;
    z-index: 1;
}

#formbody {
    /* border: 3px solid black; */
    height: 300px;
    border-radius: 20px;
    padding-top: 100px;
    /* padding-left: 150px; */
    padding-bottom: 20px;
    /* margin-left: 25px; */
    display: flex;
    justify-content: center;
}

form {
    width: 85%;
}

button {
    width: 100%;
    background-color: rgb(106, 90, 205);
}
