
div.background {
  background: url(../../assets/bgImg.jpg) center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
    
}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid rgb(190, 189, 188);
  opacity: 0.8;
  min-height: 100vh;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
#heading {
  font-family: 'Lucida Console';
  font-size: 100px;
  text-align: center;
  font-weight: bold;
  color: rgb(6, 22, 112);
}
.button {
  position: relative;
  background-color: #4CAF50;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 300px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  margin: 5px;
  
}
#choose {
  font-family: 'Lucida Console';
  font-size: 50px;
  text-align: center;
}