<div class="background">
  <div class="transbox">
    <h1 id="heading">PHARMA PORTAL</h1>
    <p id="choose">Choose What You Are</p>
    <div class="container">
        
        <div class="row">
          <div class="col-sm-4"><button class="button"  [routerLink]="['/login/manufacturer']">Manufacturer</button></div>
          <div class="col-sm-4"><button class="button" [routerLink]="['/login/distributer']">Distributer</button></div>
          <div class="col-sm-4"><button class="button" [routerLink]="['/login/retailer']">Retailer</button></div>
        </div>
        
      </div>
  </div>
</div>