<!-- <img src = "https://image.freepik.com/free-vector/registration-form-template-with-flat-design_23-2147971971.jpg" style = "width:300px; border-radius: 50%;"/> -->
<div class = "container-fluid" style = "background-color: #ffffff;">
        <div class = "container"  id = "formbody" style = "background-color: #f0f0f0; margin-top: 40px; border-radius: 10px;">
                <flash-messages></flash-messages>
                <!-- <div class = "container"> -->
                 <h2 style = "margin-left: 30%;">Registration Form</h2>
                  <form [formGroup] = "registerform" (ngSubmit)="handleSubmit()">
                      <div class="form-group" style = "margin-top: 15px;">
                          <label>Name <span class = "req"> * </span></label>
                          <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors}" autocomplete="nope"/>
                          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                              <div *ngIf="f.name.errors.required" style="color:red">**Name is required**</div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label>Organisation Name <span class = "req"> * </span></label>
                          <input type="text" formControlName="orgname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.orgname.errors}" autocomplete="nope"/>
                          <div *ngIf="submitted && f.orgname.errors" class="invalid-feedback">
                              <div *ngIf="f.orgname.errors.required" style="color:red">**Organisation Name is required**</div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label><i class="fas fa-phone"></i>&nbsp;Phone Number: <span class = "req"> * </span></label>
                          <input type="text" formControlName="phnum" class="form-control" [ngClass]="{ 'is-invalid': f.phnum.errors }" autocomplete="nope"/>
                          <div *ngIf="f.phnum.errors" class="invalid-feedback">
                              <div *ngIf="f.phnum.errors.minlength" style="color:red">**Phone number must be valid**</div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label><i class="fas fa-envelope"></i> &nbsp;Email <span class = "req"> * </span></label>
                          <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': f.email.errors }" autocomplete="nope"/>
                          <div *ngIf="f.email.errors" class="invalid-feedback">
                              <div *ngIf="f.email.errors.email" style="color:red">**Email must be a valid email address**</div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="AddressInput">Address <span class = "req"> * </span></label>
                          <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="5" formControlName="address" [ngClass]="{ 'is-invalid': submitted && f.address.errors}" autocomplete="nope"></textarea>
                          <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                              <div *ngIf="f.address.errors.required" style="color:red">**Address is required**</div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label>Pin Code <span class = "req"> * </span></label>
                          <input type="text" formControlName="pincode" autocomplete="nope" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pincode.errors}"/>
                          <div *ngIf=" f.pincode.errors" class="invalid-feedback">
                              <div *ngIf="f.pincode.errors.minlength" style="color:red">**PinCOde length must be 6 digits**</div>
                          </div>
                      </div>
                          <div class="form-group">
                            <label for="ProofDoc">Licence Proof Document <span class = "req"> * </span></label>
                            <input type="file" formControlName="proofdoc" class="form-control-file" id="proofdoc" [ngClass]="{ 'is-invalid': submitted && f.proofdoc.errors}">
                            <div *ngIf="submitted && f.proofdoc.errors" class="invalid-feedback">
                                <div *ngIf="f.proofdoc.errors.required" style="color:red">**Document is required**</div>
                            </div>
                          </div>
                          <div class="form-group">
                              <label>GST Number <span class = "req"> * </span></label>
                              <input type="text" formControlName="gstnum" autocomplete="nope" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.gstnum.errors}"/>
                              <div *ngIf=" f.gstnum.errors" class="invalid-feedback">
                                  <div *ngIf="f.gstnum.errors.minlength" style="color:red">**PinCOde length must be 15 digits**</div>
                              </div>
                          </div>
                          <div class="form-group">
                              <label>Password  <span class = "req"> * </span></label>
                              <input type="password" formControlName="password" class="form-control" autocomplete="nope" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                              <div *ngIf="f.password.errors" class="invalid-feedback">
                                  <div *ngIf="f.password.errors.minlength" style="color:red">**Password must be at least 6 characters**</div>
                              </div>
                          </div>
                          <div class="form-group">
                            <label>Confirm Password  <span class = "req"> * </span></label>
                            <input type="password" formControlName="cnfrmpwd" autocomplete="nope" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cnfrmpwd.errors }" />
                            <div *ngIf="f.cnfrmpwd.errors" class="invalid-feedback">
                                <div *ngIf = "f.cnfrmpwd.invalid" style="color:red">**Both passwords should match**</div>
                            </div>
                        </div>   
                      <button class="btn btn-primary" 
                        [disabled]="! registerform.valid" style = "margin-bottom: 10px;"> 
                        submit
                      </button>
                  </form>
                </div>

</div>
            


